body {
    background-color: black;
    color: goldenrod;
    text-align: center;
}

input {
    padding: 15px;
    margin: 20px;
    font-size: larger;
    font-weight: bold;
}

#second {
    background-color: goldenrod;
    color: black;
}

.list {
    display: inline-block;
    width: 10%;
    margin: 15px;
}

select {
    padding: 10px;
}

p {
    display: inline-block;
    font-size: larger;
}